#wholePageList li{
list-style-type: none;
}

.histogram {
height: 140px;
width: 500px;
}

.histogram svg {
float: center;
position: absolute;
}
.lowknob{
position:absolute !important;
background-color: red;
width: 5px;
height: 100px;
}

.highknob {
position:relative;
background-color: greenyellow;
width: 5px;
height: 100px;
}
